@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Oswald:wght@400;500&display=swap');

$montserrat: 'Montserrat', sans-serif;
$oswald: 'Oswald', sans-serif;

$montserratNav: 1.125rem;
$montserratAbout: 1.125rem;
$montserratReminder: 0.875rem;

$submitText: 1.5rem;

$navWeight: 500;
$aboutWeight: 400;


$heading1_Oswald: 3rem;
$heading2_Oswald: 1.875rem;
$heading3_Oswald: 1.5rem;




