@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Oswald:wght@400;500&display=swap");
.dropup,
.dropend,
.dropdown,
.dropstart {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: 0;
  margin-top: 0.125rem;
}

.dropdown-menu-start {
  --bs-position: start;
}
.dropdown-menu-start[data-bs-popper] {
  right: auto;
  left: 0;
}

.dropdown-menu-end {
  --bs-position: end;
}
.dropdown-menu-end[data-bs-popper] {
  right: 0;
  left: auto;
}

@media (min-width: 576px) {
  .dropdown-menu-sm-start {
    --bs-position: start;
  }
  .dropdown-menu-sm-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-sm-end {
    --bs-position: end;
  }
  .dropdown-menu-sm-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}
@media (min-width: 768px) {
  .dropdown-menu-md-start {
    --bs-position: start;
  }
  .dropdown-menu-md-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-md-end {
    --bs-position: end;
  }
  .dropdown-menu-md-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}
@media (min-width: 992px) {
  .dropdown-menu-lg-start {
    --bs-position: start;
  }
  .dropdown-menu-lg-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-lg-end {
    --bs-position: end;
  }
  .dropdown-menu-lg-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}
@media (min-width: 1200px) {
  .dropdown-menu-xl-start {
    --bs-position: start;
  }
  .dropdown-menu-xl-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-xl-end {
    --bs-position: end;
  }
  .dropdown-menu-xl-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}
@media (min-width: 1400px) {
  .dropdown-menu-xxl-start {
    --bs-position: start;
  }
  .dropdown-menu-xxl-start[data-bs-popper] {
    right: auto;
    left: 0;
  }

  .dropdown-menu-xxl-end {
    --bs-position: end;
  }
  .dropdown-menu-xxl-end[data-bs-popper] {
    right: 0;
    left: auto;
  }
}
.dropup .dropdown-menu[data-bs-popper] {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}
.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}
.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropend .dropdown-menu[data-bs-popper] {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem;
}
.dropend .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}
.dropend .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropend .dropdown-toggle::after {
  vertical-align: 0;
}

.dropstart .dropdown-menu[data-bs-popper] {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem;
}
.dropstart .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}
.dropstart .dropdown-toggle::after {
  display: none;
}
.dropstart .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}
.dropstart .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropstart .dropdown-toggle::before {
  vertical-align: 0;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #1e2125;
  background-color: #e9ecef;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #0d6efd;
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: #adb5bd;
  pointer-events: none;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1rem;
  color: #212529;
}

.dropdown-menu-dark {
  color: #dee2e6;
  background-color: #343a40;
  border-color: rgba(0, 0, 0, 0.15);
}
.dropdown-menu-dark .dropdown-item {
  color: #dee2e6;
}
.dropdown-menu-dark .dropdown-item:hover, .dropdown-menu-dark .dropdown-item:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}
.dropdown-menu-dark .dropdown-item.active, .dropdown-menu-dark .dropdown-item:active {
  color: #fff;
  background-color: #0d6efd;
}
.dropdown-menu-dark .dropdown-item.disabled, .dropdown-menu-dark .dropdown-item:disabled {
  color: #adb5bd;
}
.dropdown-menu-dark .dropdown-divider {
  border-color: rgba(0, 0, 0, 0.15);
}
.dropdown-menu-dark .dropdown-item-text {
  color: #dee2e6;
}
.dropdown-menu-dark .dropdown-header {
  color: #adb5bd;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #FFCB66;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-select {
    transition: none;
  }
}
.form-select:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-select[multiple], .form-select[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
}
.form-select:disabled {
  background-color: #e9ecef;
}
.form-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

.form-select-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.form-select-lg {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
}
.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-secondary {
  color: #000;
  background-color: rgba(196, 196, 196, 0.4);
  border-color: rgba(196, 196, 196, 0.4);
}
.btn-secondary:hover {
  color: #000;
  background-color: rgba(220, 220, 220, 0.49);
  border-color: rgba(214, 214, 214, 0.46);
}
.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #000;
  background-color: rgba(220, 220, 220, 0.49);
  border-color: rgba(214, 214, 214, 0.46);
  box-shadow: 0 0 0 0.25rem rgba(115, 115, 115, 0.5);
}
.btn-check:checked + .btn-secondary, .btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active, .show > .btn-secondary.dropdown-toggle {
  color: #000;
  background-color: rgba(226, 226, 226, 0.52);
  border-color: rgba(214, 214, 214, 0.46);
}
.btn-check:checked + .btn-secondary:focus, .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(115, 115, 115, 0.5);
}
.btn-secondary:disabled, .btn-secondary.disabled {
  color: #000;
  background-color: rgba(196, 196, 196, 0.4);
  border-color: rgba(196, 196, 196, 0.4);
}

.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.btn-success:hover {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
}
.btn-check:focus + .btn-success, .btn-success:focus {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
  box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
}
.btn-check:checked + .btn-success, .btn-check:active + .btn-success, .btn-success:active, .btn-success.active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #146c43;
  border-color: #13653f;
}
.btn-check:checked + .btn-success:focus, .btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
}
.btn-success:disabled, .btn-success.disabled {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.btn-info {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-info:hover {
  color: #000;
  background-color: #31d2f2;
  border-color: #25cff2;
}
.btn-check:focus + .btn-info, .btn-info:focus {
  color: #000;
  background-color: #31d2f2;
  border-color: #25cff2;
  box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
}
.btn-check:checked + .btn-info, .btn-check:active + .btn-info, .btn-info:active, .btn-info.active, .show > .btn-info.dropdown-toggle {
  color: #000;
  background-color: #3dd5f3;
  border-color: #25cff2;
}
.btn-check:checked + .btn-info:focus, .btn-check:active + .btn-info:focus, .btn-info:active:focus, .btn-info.active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
}
.btn-info:disabled, .btn-info.disabled {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-warning {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-warning:hover {
  color: #000;
  background-color: #ffca2c;
  border-color: #ffc720;
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
  color: #000;
  background-color: #ffca2c;
  border-color: #ffc720;
  box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}
.btn-check:checked + .btn-warning, .btn-check:active + .btn-warning, .btn-warning:active, .btn-warning.active, .show > .btn-warning.dropdown-toggle {
  color: #000;
  background-color: #ffcd39;
  border-color: #ffc720;
}
.btn-check:checked + .btn-warning:focus, .btn-check:active + .btn-warning:focus, .btn-warning:active:focus, .btn-warning.active:focus, .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}
.btn-warning:disabled, .btn-warning.disabled {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-danger:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}
.btn-check:focus + .btn-danger, .btn-danger:focus {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
  box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.btn-check:checked + .btn-danger, .btn-check:active + .btn-danger, .btn-danger:active, .btn-danger.active, .show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #b02a37;
  border-color: #a52834;
}
.btn-check:checked + .btn-danger:focus, .btn-check:active + .btn-danger:focus, .btn-danger:active:focus, .btn-danger.active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}
.btn-danger:disabled, .btn-danger.disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-light {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:hover {
  color: #000;
  background-color: #f9fafb;
  border-color: #f9fafb;
}
.btn-check:focus + .btn-light, .btn-light:focus {
  color: #000;
  background-color: #f9fafb;
  border-color: #f9fafb;
  box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-check:checked + .btn-light, .btn-check:active + .btn-light, .btn-light:active, .btn-light.active, .show > .btn-light.dropdown-toggle {
  color: #000;
  background-color: #f9fafb;
  border-color: #f9fafb;
}
.btn-check:checked + .btn-light:focus, .btn-check:active + .btn-light:focus, .btn-light:active:focus, .btn-light.active:focus, .show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}
.btn-light:disabled, .btn-light.disabled {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
.btn-dark:hover {
  color: #fff;
  background-color: #1c1f23;
  border-color: #1a1e21;
}
.btn-check:focus + .btn-dark, .btn-dark:focus {
  color: #fff;
  background-color: #1c1f23;
  border-color: #1a1e21;
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}
.btn-check:checked + .btn-dark, .btn-check:active + .btn-dark, .btn-dark:active, .btn-dark.active, .show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1a1e21;
  border-color: #191c1f;
}
.btn-check:checked + .btn-dark:focus, .btn-check:active + .btn-dark:focus, .btn-dark:active:focus, .btn-dark.active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}
.btn-dark:disabled, .btn-dark.disabled {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #0d6efd;
  background-color: transparent;
}

.btn-outline-secondary {
  color: rgba(196, 196, 196, 0.4);
  border-color: rgba(196, 196, 196, 0.4);
}
.btn-outline-secondary:hover {
  color: #000;
  background-color: rgba(196, 196, 196, 0.4);
  border-color: rgba(196, 196, 196, 0.4);
}
.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.25rem rgba(196, 196, 196, 0.5);
}
.btn-check:checked + .btn-outline-secondary, .btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
  color: #000;
  background-color: rgba(196, 196, 196, 0.4);
  border-color: rgba(196, 196, 196, 0.4);
}
.btn-check:checked + .btn-outline-secondary:focus, .btn-check:active + .btn-outline-secondary:focus, .btn-outline-secondary:active:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(196, 196, 196, 0.5);
}
.btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
  color: rgba(196, 196, 196, 0.4);
  background-color: transparent;
}

.btn-outline-success {
  color: #198754;
  border-color: #198754;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}
.btn-check:checked + .btn-outline-success, .btn-check:active + .btn-outline-success, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.btn-check:checked + .btn-outline-success:focus, .btn-check:active + .btn-outline-success:focus, .btn-outline-success:active:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}
.btn-outline-success:disabled, .btn-outline-success.disabled {
  color: #198754;
  background-color: transparent;
}

.btn-outline-info {
  color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-outline-info:hover {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-check:focus + .btn-outline-info, .btn-outline-info:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.5);
}
.btn-check:checked + .btn-outline-info, .btn-check:active + .btn-outline-info, .btn-outline-info:active, .btn-outline-info.active, .btn-outline-info.dropdown-toggle.show {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-check:checked + .btn-outline-info:focus, .btn-check:active + .btn-outline-info:focus, .btn-outline-info:active:focus, .btn-outline-info.active:focus, .btn-outline-info.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.5);
}
.btn-outline-info:disabled, .btn-outline-info.disabled {
  color: #0dcaf0;
  background-color: transparent;
}

.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}
.btn-outline-warning:hover {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-check:focus + .btn-outline-warning, .btn-outline-warning:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-check:checked + .btn-outline-warning, .btn-check:active + .btn-outline-warning, .btn-outline-warning:active, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-check:checked + .btn-outline-warning:focus, .btn-check:active + .btn-outline-warning:focus, .btn-outline-warning:active:focus, .btn-outline-warning.active:focus, .btn-outline-warning.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}
.btn-outline-warning:disabled, .btn-outline-warning.disabled {
  color: #ffc107;
  background-color: transparent;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-check:focus + .btn-outline-danger, .btn-outline-danger:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}
.btn-check:checked + .btn-outline-danger, .btn-check:active + .btn-outline-danger, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-check:checked + .btn-outline-danger:focus, .btn-check:active + .btn-outline-danger:focus, .btn-outline-danger:active:focus, .btn-outline-danger.active:focus, .btn-outline-danger.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}
.btn-outline-danger:disabled, .btn-outline-danger.disabled {
  color: #dc3545;
  background-color: transparent;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:hover {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-check:focus + .btn-outline-light, .btn-outline-light:focus {
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
.btn-check:checked + .btn-outline-light, .btn-check:active + .btn-outline-light, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-check:checked + .btn-outline-light:focus, .btn-check:active + .btn-outline-light:focus, .btn-outline-light:active:focus, .btn-outline-light.active:focus, .btn-outline-light.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}
.btn-outline-light:disabled, .btn-outline-light.disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.btn-outline-dark {
  color: #212529;
  border-color: #212529;
}
.btn-outline-dark:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
.btn-check:focus + .btn-outline-dark, .btn-outline-dark:focus {
  box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}
.btn-check:checked + .btn-outline-dark, .btn-check:active + .btn-outline-dark, .btn-outline-dark:active, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
.btn-check:checked + .btn-outline-dark:focus, .btn-check:active + .btn-outline-dark:focus, .btn-outline-dark:active:focus, .btn-outline-dark.active:focus, .btn-outline-dark.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}
.btn-outline-dark:disabled, .btn-outline-dark.disabled {
  color: #212529;
  background-color: transparent;
}

.btn-link {
  font-weight: 400;
  color: #0d6efd;
  text-decoration: underline;
}
.btn-link:hover {
  color: #0a58ca;
}
.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.form-select {
  background-color: rgba(196, 196, 196, 0.4);
  height: 43px;
  width: 288px;
  border-color: transparent;
  border-radius: 6px;
}
.form-select:focus {
  box-shadow: none;
  border-color: transparent;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}
nav .nav-brand {
  margin-left: 3em;
}
nav .nav-links {
  margin-right: 3em;
}
nav .nav-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
nav .nav-links ul a {
  text-decoration: none;
  padding: 1rem;
  padding-bottom: 0.2rem;
  display: block;
  border-bottom: 3px solid #FFFFFF;
  transition: 0.2s ease;
}
nav .nav-links ul a:hover {
  border-bottom: 3px solid #FFA800;
  color: #000000;
}
nav .nav-links .nav-languages {
  display: none;
}
nav .nav-links.active {
  display: flex;
}
nav .bar1.active-bar-one {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
nav .bar2.active-bar-two {
  opacity: 0;
}
nav .bar3.active-bar-three {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
nav .toggle-btn {
  position: absolute;
  top: 2rem;
  right: 3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
nav .toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: #000000;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.nav-border {
  width: 100%;
  margin-top: -7%;
  position: absolute;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .toggle-btn {
    display: flex;
  }
  nav .nav-links {
    display: none;
    width: 100%;
  }
  nav .nav-links ul {
    width: 100%;
    flex-direction: column;
  }
  nav .nav-links ul li {
    text-align: center;
    padding: 0.9rem;
    display: flex;
    justify-content: center;
  }
  nav .nav-links .nav-languages {
    display: flex;
    gap: 2em;
  }
  nav .nav-links .nav-languages .lang-active {
    border-bottom: 3px solid #FFA800;
  }
  nav .nav-links .lv-lang {
    display: none;
  }
}
.form-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 9.375em;
}
.form-wrapper ::placeholder {
  color: #2F4858;
}
.form-wrapper form {
  margin-left: 25%;
  margin-right: 25%;
}
.form-wrapper form input[type=text], .form-wrapper form textarea {
  resize: none;
  padding: 0.5em;
  background-color: #e7e7e7;
  border: 0;
  border-radius: 6px;
  margin: 0.4em;
}
.form-wrapper form input[type=text]:focus, .form-wrapper form textarea:focus {
  outline: none;
}
.form-wrapper form input[type=text] {
  height: 43px;
}
.form-wrapper form h2 {
  text-align: center;
  padding-bottom: 1.5em;
  text-transform: uppercase;
}
.form-wrapper form .form-group-one {
  display: flex;
}
.form-wrapper form .form-group-one input {
  flex-grow: 1;
}
.form-wrapper form .form-group-two {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.form-wrapper form .reminder {
  margin-left: 0.4em;
}
.form-wrapper form .checkbox-wrapper {
  display: flex;
  margin-left: 0.4em;
  column-gap: 0.7em;
}
.form-wrapper form .checkbox-wrapper input[type=checkbox] {
  width: 1em;
  height: 1em;
  filter: grayscale(1);
}
.form-wrapper form .checkbox-wrapper p {
  flex-basis: 85%;
}
.form-wrapper .submit-wrapper {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .form-wrapper {
    margin-bottom: 7.5em;
  }

  form .form-group-one {
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  input[type=text], textarea {
    width: 15em;
  }
}
footer {
  position: relative;
  z-index: 3;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  background-color: #2F4858;
  padding: 3em 3em 0.5em 3em;
}
footer ul {
  list-style-type: none;
}
footer ul a {
  text-decoration: none;
}
footer ul a:hover {
  color: #FFFFFF;
}
footer .footer-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-item-1 p {
  margin-bottom: 0;
}
footer .footer-item-2 li {
  padding-bottom: 1.3em;
}
footer .footer-item-4 {
  display: flex;
  flex-direction: column;
}
footer .footer-item-4 p, footer .footer-item-4 div, footer .footer-item-4 a {
  text-align: right;
}

.privacy-policy {
  margin-top: auto;
  text-decoration: none;
}
.privacy-policy:hover {
  color: #FFFFFF;
}

.socials {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.socials a {
  margin: 4em 0 2em 0.5em;
  font-size: 2.25rem;
  color: #FFFFFF;
}
.socials a:hover {
  color: #FFFFFF;
}

.footer-border {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: -2%;
}

@media screen and (min-width: 1024px) {
  #contactName1 {
    display: none;
  }

  #viewDetails {
    display: none;
  }

  #copyrightText2 {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  #contactName2 {
    display: none;
  }

  #contactName1 {
    padding-bottom: 1em;
  }

  #viewDetails {
    background: none;
    border: none;
    outline: none;
    text-align: right;
  }

  #copyrightText2 {
    display: none;
  }

  footer {
    padding-bottom: 3em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  footer .footer-item-1 div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 1em;
  }
  footer .footer-item-1 img {
    height: 150px;
    width: 150px;
  }
  footer .footer-item-1 br {
    display: none;
  }
  footer .footer-item-2 {
    display: none;
  }
  footer .footer-item-3 {
    display: none;
  }
  footer .socials a {
    font-size: 1.563rem;
  }
}
@media screen and (max-width: 640px) {
  footer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  footer .footer-item-4 p, footer .footer-item-4 div, footer .footer-item-4 a, footer .footer-item-4 #viewDetails {
    text-align: left;
  }
  footer #copyrightText1 {
    display: none;
  }
  footer #copyrightText2 {
    display: block;
  }
}
.header {
  text-align: center;
  margin-top: 7em;
  margin-bottom: 9.375em;
  vertical-align: middle;
  padding-left: 27%;
  padding-right: 27%;
}
.header h1 {
  margin-bottom: 1.3em;
}
.header p {
  line-height: 1.37125em;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 3.125em;
    margin-bottom: 5em;
  }
}
.video-wrapper {
  position: relative;
  z-index: 1;
  margin-top: -5em;
  display: flex;
  justify-self: center;
  align-items: center;
}
.video-wrapper img {
  width: 100%;
  height: auto;
}
.video-wrapper .play-circle {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  background-color: #FFA800;
  display: block;
  width: 86px;
  height: 83px;
  padding-top: 8px;
  line-height: 83px;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.video-wrapper .play-circle:hover {
  box-shadow: 0px 0px 10px #2F4858;
  text-shadow: 0px 0px 10px #FFFFFF;
}

@media screen and (max-width: 768px) {
  .video-wrapper img {
    margin-top: 5em;
  }
  .video-wrapper .play-circle {
    margin-top: 4em;
  }
}
.grid-border {
  width: 100%;
  position: absolute;
  margin-top: -3%;
}

.img-container, .img-container-2, .img-container-1 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.img-container .grid-img, .img-container-2 .grid-img, .img-container-1 .grid-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.img-container .grid-split, .img-container-2 .grid-split, .img-container-1 .grid-split {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

@media screen and (max-width: 640px) {
  .img-container, .img-container-1, .img-container-2 {
    grid-template-columns: 50% 50% !important;
    grid-template-rows: 50% 50% !important;
  }

  .img-container-1 .grid-split {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .img-container-1 .child-4 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .img-container-1 .child-1 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .img-container-1 .child-2 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .img-container-2 .child-2 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .img-container-2 .child-4 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .img-container-2 .child-1 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .img-container-2 .grid-split {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}
.btn-yellow, .btn-yellow-submit, .btn-yellow-choice {
  background-color: #FFA800;
  border: none;
  text-align: center;
  border-radius: 50px;
  transition: 0.3s;
}
.btn-yellow:hover, .btn-yellow-submit:hover, .btn-yellow-choice:hover {
  background-color: #ffda16;
}
.btn-yellow:active, .btn-yellow-submit:active, .btn-yellow-choice:active {
  background-color: #ff8a00;
}

.btn-yellow-choice {
  height: 50px;
  width: 223px;
}

.btn-yellow-submit {
  height: 62px;
  width: 182px;
}

.btn-arrow, .btn-arrow-left, .btn-arrow-right {
  width: 18px;
  height: 18px;
  background-color: transparent;
  transition: 0.3s;
  border-style: solid;
  border-width: 2px 2px 0 0;
}
.btn-arrow:hover, .btn-arrow-left:hover, .btn-arrow-right:hover {
  opacity: 0.3;
}

.btn-arrow-right {
  border-color: #2F4858;
  transform: rotateY(0deg) rotate(45deg);
}

.btn-arrow-left {
  border-color: #2F4858;
  opacity: 0.5;
  transform: rotateY(0deg) rotate(-135deg);
}

.yellow-section-one {
  background-color: #FFCB66;
  padding-top: 10em;
  padding-bottom: 5.5625em;
  margin-bottom: 0;
  display: flex;
  row-gap: 2.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 6%;
  padding-right: 6%;
}
.yellow-section-one p {
  line-height: 1.37125em;
}

@media screen and (max-width: 640px) {
  .yellow-section-one img {
    width: 85%;
  }
}
.choice-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
  row-gap: 5em;
  column-gap: 20%;
  padding-left: 13%;
  padding-right: 13%;
}
.choice-panel .choice-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.9em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .choice-panel {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}
.about-panel {
  text-align: center;
  vertical-align: middle;
  padding: 9.375em 15% 9.375em 15%;
}
.about-panel p {
  line-height: 1.37125em;
}

.about-border {
  position: absolute;
  width: 100%;
}

.supporters-border {
  width: 100%;
  position: absolute;
  z-index: 4;
}

.supporters-container {
  position: relative;
  z-index: 1;
  padding-top: 6em;
  padding-bottom: 8em;
  background-color: #FFCB66;
}
.supporters-container .supporters-text {
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .supporters-container {
    margin-bottom: -10%;
  }

  .about-panel {
    padding: 5em 10% 5em 10%;
  }
}
@media screen and (max-width: 640px) {
  .supporters-container {
    margin-bottom: -20%;
  }
}
@media screen and (max-width: 425px) {
  .supporters-container {
    margin-bottom: -30%;
  }
}
.caption-container {
  margin-bottom: 0;
  background-size: cover;
  background-position: left 70% center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}
.caption-container .gradient {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  z-index: 1;
}
.caption-container .picture-quote-wrapper {
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 5;
  bottom: 12%;
  padding-left: 17%;
  padding-right: 17%;
}
.caption-container .picture-quote-wrapper h3 {
  line-height: 1.6675em;
}

.quote-border-top {
  position: absolute;
  width: 100%;
}

.quote-border-bottom {
  width: 100%;
  position: absolute;
  margin-top: -3%;
}

.feedback-juris-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9.375em;
  margin-bottom: 9.375em;
}
.feedback-juris-wrapper .feedback-juris {
  margin-left: 28%;
  margin-right: 28%;
}
.feedback-juris-wrapper .feedback-juris .feedback-text {
  margin-top: 1.2em;
  line-height: 1.2em;
}
.feedback-juris-wrapper .quote-button-wrapper {
  display: flex;
  column-gap: 2em;
  margin-top: 2em;
}

@media screen and (max-width: 1024px) {
  .feedback-juris-wrapper .feedback-juris {
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (max-width: 640px) {
  .caption-container {
    height: 35em;
  }
  .caption-container .picture-quote-wrapper {
    bottom: 6%;
    padding-left: 7%;
    padding-right: 7%;
  }

  .feedback-juris-wrapper {
    margin-top: 7.5em;
    margin-bottom: 7.5em;
  }
  .feedback-juris-wrapper .feedback-juris {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.dream-type-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 17%;
  padding-right: 17%;
  margin-bottom: 9.375em;
}
.dream-type-wrapper .dream-type {
  display: flex;
  column-gap: 10%;
}
.dream-type-wrapper .dream-type .dream-type-item {
  text-align: center;
  height: auto;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
}
.dream-type-wrapper .dream-type .dream-type-item .dream-type-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.75em;
}
.dream-type-wrapper .dream-type .dream-type-item button {
  align-self: center;
  margin-top: auto;
}
.dream-type-wrapper .dream-type .dream-type-item h2 {
  margin-bottom: 2em;
}
.dream-type-wrapper .dream-type .dream-type-item p {
  margin-bottom: 2em;
}

.submit-dream-page-form {
  margin-top: 9.375em;
}

@media screen and (max-width: 640px) {
  .submit-dream-page-form {
    margin-top: 7.5em;
  }
}
@media screen and (max-width: 1024px) {
  .dream-type-wrapper {
    margin-bottom: 7.5em;
  }
  .dream-type-wrapper .dream-type {
    flex-wrap: wrap;
    row-gap: 12.8125em;
  }
}
.goal-wrapper {
  margin-top: 9.375em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goal-wrapper .goal-grid {
  display: grid;
  row-gap: 7.5em;
  margin-left: 16%;
  margin-right: 16%;
  grid-template-rows: auto 1fr 1fr 1fr;
}
.goal-wrapper .goal-grid-row-one {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.goal-wrapper .goal-grid-row-one h2 {
  margin-top: auto;
  margin-bottom: 0;
}
.goal-wrapper .goal-grid-row-two {
  display: grid;
  grid-template-columns: 35% 65%;
  column-gap: 3.875em;
}
.goal-wrapper .goal-grid-row-two .goal-grid-2-row-p {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.37125em;
}
.goal-wrapper .goal-grid-row-two .goal-grid-img-right {
  text-align: right;
}
.goal-wrapper .goal-grid-row-three {
  display: grid;
  grid-template-columns: 65% 35%;
  column-gap: 3.875em;
}
.goal-wrapper .goal-grid-row-three .goal-grid-3-row-p {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.37125em;
}

.mission-wrapper {
  text-align: center;
  margin-top: 9.375em;
  margin-bottom: 9.375em;
  padding-left: 8%;
  padding-right: 8%;
}
.mission-wrapper h2 {
  margin-bottom: 3.125em;
}

.dream-selection-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9.375em;
  margin-bottom: 9.375em;
}
.dream-selection-wrapper h2 {
  margin-bottom: 3.75em;
}
.dream-selection-wrapper .ds-icons-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30%;
  padding-left: 17%;
  padding-right: 17%;
}
.dream-selection-wrapper .ds-icons-wrapper .ds-figure {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1.875em;
}
.dream-selection-wrapper .ds-icons-wrapper .ds-figure p {
  line-height: 1.37125em;
}
.dream-selection-wrapper .ds-icons-wrapper .ds-figure .ds-img-wrapper {
  height: 150px;
  align-items: flex-end;
  display: flex;
  justify-content: center;
}
.dream-selection-wrapper .ds-icons-wrapper .ds-figure .ds-img-wrapper #ds-img-1 {
  width: 154px;
  height: 150px;
}
.dream-selection-wrapper .ds-icons-wrapper .ds-figure .ds-img-wrapper #ds-img-2 {
  width: 191px;
  height: 120px;
}

@media screen and (max-width: 1024px) {
  .dream-selection-wrapper .ds-icons-wrapper {
    column-gap: 25%;
    padding-left: 13%;
    padding-right: 13%;
  }

  .goal-wrapper .goal-grid {
    row-gap: 6.25em;
  }
}
@media screen and (max-width: 640px) {
  .mission-wrapper {
    margin-top: 7.5em;
    margin-bottom: 7.5em;
  }

  .dream-selection-wrapper {
    margin-top: 7.5em;
    margin-bottom: 7.5em;
  }
  .dream-selection-wrapper .ds-icons-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3.75em;
  }

  .goal-wrapper .goal-grid {
    margin-top: 0;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    flex-direction: column;
    row-gap: 3.75em;
  }
  .goal-wrapper .goal-grid .goal-grid-row-two, .goal-wrapper .goal-grid .goal-grid-row-three {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.25em;
  }
  .goal-wrapper .goal-grid .goal-grid-row-three {
    flex-direction: column-reverse;
  }
  .goal-wrapper .goal-grid .goal-grid-2-row-p {
    text-align: center;
  }
  .goal-wrapper .goal-grid .goal-grid-3-row-p {
    text-align: center;
  }
  .goal-wrapper .goal-grid .goal-grid-img-right {
    text-align: center;
  }
  .goal-wrapper .goal-grid figure {
    width: 100%;
    text-align: center;
  }
}
hr {
  opacity: 0.6;
  width: 100%;
}

.select-placeholder {
  display: none;
}

.header-supported-by {
  margin-bottom: 5.625em;
}

.dropdown-search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
}
.dropdown-search-wrapper label {
  padding-bottom: 0.9375em;
}

.supporter-loc-wrapper {
  margin-bottom: 3.75em;
}

.supporter-loc-wrapper {
  display: flex;
}

#map {
  height: 40.5em;
}

@media screen and (max-width: 640px) {
  .header-supported-by {
    margin-bottom: 5em;
  }

  .dropdown-search-wrapper {
    flex-wrap: wrap;
    row-gap: 2.5em;
  }
}
.f1-oswald-medium {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #2F4858;
}

.f2-oswald-medium {
  font-family: "Oswald", sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
  color: #2F4858;
}

.f3-oswald-medium {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2F4858;
}

.f-oswald-supporters {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2F4858;
}

.f-oswald-picture-quote {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #FFFFFF;
}

.f-mont-nav {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #000000;
}

.f-mont-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #2F4858;
}

.f-mont-form-input {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #2F4858;
}

.f-mont-tos {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #2F4858;
}

.f-mont-submit {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #FFFFFF;
}

.f-mont-choice-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #FFFFFF;
}

.f-mont-quote-italic {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #2F4858;
  font-style: italic;
}

.f-mont-blue24-normal {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2F4858;
}

.f-mont-blue24-mission {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2F4858;
}

.f-mont-blue24-dream-selection {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2F4858;
}

.f-mont-white14 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #FFFFFF;
}

.f-mont-white18 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #FFFFFF;
}

.f-mont-white18-bold {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #FFFFFF;
}

.f-mont-dropdown-first {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #2F4858;
}

.f-mont-white24 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #FFFFFF;
}

.f-mont-yellow-success-large {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #FFA800;
}

.f-mont-yellow-success-small {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #FFA800;
}

@media screen and (max-width: 1024px) {
  .f-mont-white14 {
    font-size: 1rem;
  }

  .f-mont-blue24-dream-selection {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 640px) {
  .f-mont-dropdown-first {
    font-size: 0.875rem;
  }

  .f-mont-blue24-mission {
    font-size: 1.125rem;
  }

  .f-mont-yellow-success-large {
    font-size: 1.125rem;
  }

  .f-mont-yellow-success-small {
    font-size: 0.875rem;
  }

  .f-mont-white24 {
    font-size: 1.125rem;
  }

  .f-mont-blue24-normal {
    font-size: 0.875rem;
  }

  .f-mont-white18 {
    font-size: 0.75rem;
  }

  .f-mont-white18-bold {
    font-size: 0.75rem;
  }

  .f-mont-white14 {
    font-size: 0.688rem;
  }

  .f-mont-paragraph {
    font-size: 0.75rem;
  }

  .f-mont-quote-italic {
    font-size: 0.75rem;
  }

  .f-mont-tos {
    font-size: 0.75rem;
  }

  .f-mont-submit {
    font-size: 1.125rem;
  }

  .f1-oswald-medium {
    font-size: 2.25rem;
  }

  .f2-oswald-medium {
    font-size: 1.5rem;
  }

  .f-oswald-picture-quote {
    font-size: 1.125rem;
  }
}
.body-404 {
  background-color: #FFCB66;
}

.not-found-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10em;
  margin-bottom: 10em;
}
.not-found-info-wrapper .not-found-white {
  font-size: 6rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  color: #FFFFFF;
}
.not-found-info-wrapper h1 {
  margin-bottom: 40px;
}
.not-found-info-wrapper h3 {
  font-weight: 700;
  margin-bottom: 30px;
}
.not-found-info-wrapper p {
  margin-bottom: 50px;
}
.not-found-info-wrapper button {
  background-color: #FFFFFF;
}
.not-found-info-wrapper button:hover {
  background-color: #FFFFFF;
}
.not-found-info-wrapper button:active {
  background-color: #FFFFFF;
}

@media screen and (max-width: 640px) {
  .not-found-info-wrapper {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/*# sourceMappingURL=main.css.map */
