@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Oswald:wght@400;500&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: 1px solid #f00 !important;
}

body {
  min-height: 100vh;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}
nav .nav-brand {
  margin-left: 3em;
}
nav .nav-links {
  margin-right: 3em;
}
nav .nav-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
nav .nav-links ul a {
  text-decoration: none;
  color: #000000;
  padding: 1rem;
  padding-bottom: 0.2rem;
  display: block;
  border-bottom: 3px solid #FFFFFF;
  transition: 0.2s ease;
}
nav .nav-links ul a:hover {
  border-bottom: 3px solid #FFA800;
}
nav .nav-links .nav-languages {
  display: none;
}
nav .nav-links.active {
  display: flex;
}
nav .bar1.active-bar-one {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
nav .bar2.active-bar-two {
  opacity: 0;
}
nav .bar3.active-bar-three {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
nav .toggle-btn {
  position: absolute;
  top: 2rem;
  right: 3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
nav .toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: #000000;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.nav-border {
  width: 100%;
  margin-top: -7%;
  position: absolute;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .toggle-btn {
    display: flex;
  }
  nav .nav-links {
    display: none;
    width: 100%;
  }
  nav .nav-links ul {
    width: 100%;
    flex-direction: column;
  }
  nav .nav-links ul li {
    text-align: center;
    padding: 0.9rem;
    display: flex;
    justify-content: center;
  }
  nav .nav-links .nav-languages {
    display: flex;
    gap: 2em;
  }
  nav .nav-links .nav-languages .lang-active {
    border-bottom: 3px solid #FFA800;
  }
  nav .nav-links .lv-lang {
    display: none;
  }
}
.form-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 10em;
  padding-bottom: 7em;
}
.form-wrapper ::placeholder {
  color: #2F4858;
}
.form-wrapper form {
  padding-left: 33%;
  padding-right: 33%;
}
.form-wrapper form input[type=text], .form-wrapper form textarea {
  padding: 0.5em;
  background-color: #e7e7e7;
  border: 0;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  margin: 0.4em;
}
.form-wrapper form input[type=text]:focus, .form-wrapper form textarea:focus {
  outline: none;
}
.form-wrapper form input[type=text] {
  height: 43px;
}
.form-wrapper form h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.875rem;
  text-transform: uppercase;
  color: #2F4858;
  text-align: center;
  padding-bottom: 1.5em;
}
.form-wrapper form .form-group-one {
  display: flex;
}
.form-wrapper form .form-group-one input {
  flex-grow: 1;
}
.form-wrapper form .form-group-two {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.form-wrapper form .reminder {
  font-family: "Montserrat", sans-serif;
  color: #2F4858;
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 0.4em;
}
.form-wrapper form .checkbox-wrapper {
  display: flex;
  margin-left: 0.4em;
  column-gap: 0.7em;
}
.form-wrapper form .checkbox-wrapper input[type=checkbox] {
  width: 1em;
  height: 1em;
  filter: grayscale(1);
}
.form-wrapper form .checkbox-wrapper p {
  flex-basis: 85%;
  font-family: "Montserrat", sans-serif;
  color: #2F4858;
  font-size: 0.875rem;
  font-weight: 400;
}
.form-wrapper .submit-wrapper {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
.form-wrapper .submit-wrapper input {
  width: 182px;
  font-size: 1.5rem;
}

@media (max-width: 528px) {
  form .form-group-one {
    flex-direction: column;
  }
}
footer {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  padding-left: 4em;
  width: 100%;
  padding-right: 4em;
  background-color: #2F4858;
  display: flex;
  justify-content: center;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  padding: 0.5em;
}
footer ul a {
  text-decoration: none;
  color: #FFFFFF;
}
footer ul a:hover {
  color: #FFFFFF;
}
footer .fter-item {
  flex-basis: 25%;
}
footer .fter-item .fter-text-small {
  text-decoration: none;
  font-size: 0.875rem;
}
footer .fter-text-large {
  font-size: 1.5rem;
}
footer .fter-item-4 {
  text-align: right;
}
footer .fter-item-4 a {
  margin: 4em 0 2em 0.5em;
  font-size: 2rem;
  color: #FFFFFF;
}
footer .fter-item-4 a:hover {
  color: #FFFFFF;
}

.footer-border {
  width: 100%;
  margin-bottom: -25%;
  margin-top: -6%;
}

@media (max-width: 1000px) {
  .fter-item-2 {
    display: none;
  }

  .fter-item-3 {
    display: none;
  }

  footer {
    column-gap: 7em;
    flex-wrap: wrap;
  }
}
.video-wrapper {
  position: relative;
  z-index: 1;
  margin-top: -5em;
  display: flex;
  justify-self: center;
  align-items: center;
}
.video-wrapper img {
  width: 100%;
  height: auto;
}
.video-wrapper .play-circle {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  background-color: #FFA800;
  display: block;
  width: 86px;
  height: 83px;
  padding-top: 8px;
  line-height: 83px;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.video-wrapper .play-circle:hover {
  box-shadow: 0px 0px 10px #2F4858;
  text-shadow: 0px 0px 10px #FFFFFF;
}

@media (max-width: 840px) {
  .video-wrapper img {
    margin-top: 5em;
  }
  .video-wrapper .play-circle {
    margin-top: 3em;
  }
}
.grid-border {
  width: 100%;
  position: absolute;
  margin-top: -3%;
}

.img-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.img-container .grid-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.img-container .grid-split {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 576px) {
  .img-container {
    grid-template-columns: 50% 50% !important;
    grid-template-rows: 50% 50% !important;
  }
  .img-container .grid-split {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .img-container .child-4 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .img-container .child-1 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .img-container .child-2 {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}
@media (max-width: 840px) {
  .img-container {
    flex-wrap: no-wrap;
  }
  .img-container .img-container-item {
    flex: 0 0 auto;
  }
}
.btn-yellow {
  background-color: #FFA800;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  border: none;
  color: #FFFFFF;
  text-align: center;
  border-radius: 50px;
  height: 50px;
  width: 233px;
  transition: 0.3s;
}
.btn-yellow:hover {
  background-color: #ffda16;
}
.btn-yellow:active {
  background-color: #ff8a00;
}

.about-panel {
  text-align: center;
  vertical-align: middle;
  padding: 10% 15% 10% 15%;
}
.about-panel p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #2F4858;
}

.about-border {
  position: absolute;
  width: 100%;
}

.supporters-container {
  padding-top: 8em;
  padding-bottom: 6em;
  background-repeat: repeat-x;
}
.supporters-container .supporters-text {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #2F4858;
  font-size: 1.5rem;
  text-align: center;
}

.choice-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 5em;
  column-gap: 12em;
  padding-top: 9em;
  padding-left: 10%;
  padding-right: 10%;
}
.choice-panel .choice-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.6em;
}
.choice-panel .choice-item h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #2F4858;
  font-size: 1.5rem;
}

@media (max-width: 700px) {
  .supporters-container {
    margin-bottom: -10%;
  }
}
@media (max-width: 576px) {
  .supporters-container {
    margin-bottom: -20%;
  }
}
@media (max-width: 528px) {
  .supporters-container {
    margin-bottom: -30%;
  }
}

/*# sourceMappingURL=main.css.map */
