@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Oswald:wght@400;500&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
}
nav .nav-brand {
  margin-left: 3em;
}
nav .nav-links {
  margin-right: 3em;
}
nav .nav-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
nav .nav-links ul a {
  text-decoration: none;
  padding: 1rem;
  padding-bottom: 0.2rem;
  display: block;
  border-bottom: 3px solid #FFFFFF;
  transition: 0.2s ease;
}
nav .nav-links ul a:hover {
  border-bottom: 3px solid #FFA800;
  color: #000000;
}
nav .nav-links .nav-languages {
  display: none;
}
nav .nav-links.active {
  display: flex;
}
nav .bar1.active-bar-one {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
nav .bar2.active-bar-two {
  opacity: 0;
}
nav .bar3.active-bar-three {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
nav .toggle-btn {
  position: absolute;
  top: 2rem;
  right: 3rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
nav .toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: #000000;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.nav-border {
  width: 100%;
  margin-top: -7%;
  position: absolute;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .toggle-btn {
    display: flex;
  }
  nav .nav-links {
    display: none;
    width: 100%;
  }
  nav .nav-links ul {
    width: 100%;
    flex-direction: column;
  }
  nav .nav-links ul li {
    text-align: center;
    padding: 0.9rem;
    display: flex;
    justify-content: center;
  }
  nav .nav-links .nav-languages {
    display: flex;
    gap: 2em;
  }
  nav .nav-links .nav-languages .lang-active {
    border-bottom: 3px solid #FFA800;
  }
  nav .nav-links .lv-lang {
    display: none;
  }
}
.form-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 10em;
  margin-bottom: 9.375em;
}
.form-wrapper ::placeholder {
  color: #2F4858;
}
.form-wrapper form {
  margin-left: 25%;
  margin-right: 25%;
}
.form-wrapper form input[type=text], .form-wrapper form textarea {
  resize: none;
  padding: 0.5em;
  background-color: #e7e7e7;
  border: 0;
  border-radius: 6px;
  margin: 0.4em;
}
.form-wrapper form input[type=text]:focus, .form-wrapper form textarea:focus {
  outline: none;
}
.form-wrapper form input[type=text] {
  height: 43px;
}
.form-wrapper form h2 {
  text-align: center;
  padding-bottom: 1.5em;
  text-transform: uppercase;
}
.form-wrapper form .form-group-one {
  display: flex;
}
.form-wrapper form .form-group-one input {
  flex-grow: 1;
}
.form-wrapper form .form-group-two {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.form-wrapper form .reminder {
  margin-left: 0.4em;
}
.form-wrapper form .checkbox-wrapper {
  display: flex;
  margin-left: 0.4em;
  column-gap: 0.7em;
}
.form-wrapper form .checkbox-wrapper input[type=checkbox] {
  width: 1em;
  height: 1em;
  filter: grayscale(1);
}
.form-wrapper form .checkbox-wrapper p {
  flex-basis: 85%;
}
.form-wrapper .submit-wrapper {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
.form-wrapper .submit-wrapper input {
  width: 182px;
}

@media screen and (max-width: 640px) {
  form .form-group-one {
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  input[type=text], textarea {
    width: 15em;
  }
}
footer {
  position: relative;
  z-index: 3;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  background-color: #2F4858;
  padding: 3em 3em 0.5em 3em;
}
footer ul {
  list-style-type: none;
}
footer ul a {
  text-decoration: none;
}
footer ul a:hover {
  color: #FFFFFF;
}
footer .footer-item-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-item-1 p {
  margin-bottom: 0;
}
footer .footer-item-2 li {
  padding-bottom: 1.3em;
}
footer .footer-item-4 {
  display: flex;
  flex-direction: column;
}
footer .footer-item-4 p, footer .footer-item-4 div, footer .footer-item-4 a {
  text-align: right;
}

.privacy-policy {
  margin-top: auto;
  text-decoration: none;
}
.privacy-policy:hover {
  color: #FFFFFF;
}

.socials {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.socials a {
  margin: 4em 0 2em 0.5em;
  font-size: 2.25rem;
  color: #FFFFFF;
}
.socials a:hover {
  color: #FFFFFF;
}

.footer-border {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: -2%;
}

@media screen and (min-width: 1024px) {
  #contactName1 {
    display: none;
  }

  #viewDetails {
    display: none;
  }

  #copyrightText2 {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  #contactName2 {
    display: none;
  }

  #contactName1 {
    padding-bottom: 1em;
  }

  #viewDetails {
    background: none;
    border: none;
    outline: none;
    text-align: right;
  }

  #copyrightText2 {
    display: none;
  }

  footer {
    padding-bottom: 3em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  footer .footer-item-1 div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 1em;
  }
  footer .footer-item-1 img {
    height: 150px;
    width: 150px;
  }
  footer .footer-item-1 br {
    display: none;
  }
  footer .footer-item-2 {
    display: none;
  }
  footer .footer-item-3 {
    display: none;
  }
  footer .socials a {
    font-size: 1.563rem;
  }
}
@media screen and (max-width: 640px) {
  footer {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  footer .footer-item-4 p, footer .footer-item-4 div, footer .footer-item-4 a, footer .footer-item-4 #viewDetails {
    text-align: left;
  }
  footer #copyrightText1 {
    display: none;
  }
  footer #copyrightText2 {
    display: block;
  }
}
.header {
  text-align: center;
  padding-top: 6.5em;
  padding-bottom: 6em;
  vertical-align: middle;
  padding-left: 27%;
  padding-right: 27%;
}
.header h1 {
  margin-bottom: 1.3em;
}
.header p {
  line-height: 1.3em;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-left: 12%;
    padding-right: 12%;
  }
}
.video-wrapper {
  position: relative;
  z-index: 1;
  margin-top: -5em;
  display: flex;
  justify-self: center;
  align-items: center;
}
.video-wrapper img {
  width: 100%;
  height: auto;
}
.video-wrapper .play-circle {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 4;
  background-color: #FFA800;
  display: block;
  width: 86px;
  height: 83px;
  padding-top: 8px;
  line-height: 83px;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}
.video-wrapper .play-circle:hover {
  box-shadow: 0px 0px 10px #2F4858;
  text-shadow: 0px 0px 10px #FFFFFF;
}

@media screen and (max-width: 768px) {
  .video-wrapper img {
    margin-top: 5em;
  }
  .video-wrapper .play-circle {
    margin-top: 4em;
  }
}
.grid-border {
  width: 100%;
  position: absolute;
  margin-top: -3%;
}

.img-container, .img-container-2, .img-container-1 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}
.img-container .grid-img, .img-container-2 .grid-img, .img-container-1 .grid-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.img-container .grid-split, .img-container-2 .grid-split, .img-container-1 .grid-split {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

@media screen and (max-width: 640px) {
  .img-container, .img-container-1, .img-container-2 {
    grid-template-columns: 50% 50% !important;
    grid-template-rows: 50% 50% !important;
  }

  .img-container-1 .grid-split {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .img-container-1 .child-4 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .img-container-1 .child-1 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .img-container-1 .child-2 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .img-container-2 .child-2 {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .img-container-2 .child-4 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  .img-container-2 .child-1 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .img-container-2 .grid-split {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}
.btn-yellow, .btn-yellow-submit, .btn-yellow-choice {
  background-color: #FFA800;
  border: none;
  text-align: center;
  border-radius: 50px;
  transition: 0.3s;
}
.btn-yellow:hover, .btn-yellow-submit:hover, .btn-yellow-choice:hover {
  background-color: #ffda16;
}
.btn-yellow:active, .btn-yellow-submit:active, .btn-yellow-choice:active {
  background-color: #ff8a00;
}

.btn-yellow-choice {
  height: 50px;
  width: 223px;
}

.btn-yellow-submit {
  height: 62px;
  width: 182px;
}

.btn-arrow, .btn-arrow-left, .btn-arrow-right {
  width: 18px;
  height: 18px;
  background-color: transparent;
  transition: 0.3s;
  border-style: solid;
  border-width: 2px 2px 0 0;
}
.btn-arrow:hover, .btn-arrow-left:hover, .btn-arrow-right:hover {
  opacity: 0.3;
}

.btn-arrow-right {
  border-color: #2F4858;
  transform: rotateY(0deg) rotate(45deg);
}

.btn-arrow-left {
  border-color: #2F4858;
  opacity: 0.5;
  transform: rotateY(0deg) rotate(-135deg);
}

.about-panel {
  text-align: center;
  vertical-align: middle;
  padding: 10% 15% 10% 15%;
}

.about-border {
  position: absolute;
  width: 100%;
}

.supporters-border {
  width: 100%;
  position: absolute;
  z-index: 4;
}

.supporters-container {
  position: relative;
  z-index: 1;
  padding-top: 6em;
  padding-bottom: 8em;
  background-color: #FFCB66;
}
.supporters-container .supporters-text {
  text-transform: uppercase;
  text-align: center;
}

.choice-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 5em;
  column-gap: 8em;
  padding-top: 7em;
  padding-left: 10%;
  padding-right: 10%;
}
.choice-panel .choice-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.9em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .supporters-container {
    margin-bottom: -10%;
  }
}
@media screen and (max-width: 640px) {
  .supporters-container {
    margin-bottom: -20%;
  }
}
@media screen and (max-width: 425px) {
  .supporters-container {
    margin-bottom: -30%;
  }
}
.caption-container {
  margin-bottom: 0;
  background-size: cover;
  background-position: left 70% center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
}
.caption-container .gradient {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  z-index: 1;
}
.caption-container .picture-quote-wrapper {
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 5;
  bottom: 12%;
  padding-left: 17%;
  padding-right: 17%;
}
.caption-container .picture-quote-wrapper h3 {
  line-height: 1.7em;
}

.quote-border-top {
  position: absolute;
  width: 100%;
}

.quote-border-bottom {
  width: 100%;
  position: absolute;
  margin-top: -3%;
}

.feedback-juris-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback-juris-wrapper .feedback-juris {
  padding-top: 14em;
  padding-bottom: 14em;
  margin-left: 28%;
  margin-right: 28%;
}
.feedback-juris-wrapper .feedback-juris .feedback-text {
  margin-top: 1.2em;
  line-height: 1.2em;
}
.feedback-juris-wrapper .quote-button-wrapper {
  display: flex;
  column-gap: 2em;
  margin-top: 2em;
}

@media screen and (max-width: 1024px) {
  .feedback-juris-wrapper .feedback-juris {
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media screen and (max-width: 640px) {
  .caption-container {
    height: 35em;
  }
  .caption-container .picture-quote-wrapper {
    bottom: 6%;
    padding-left: 7%;
    padding-right: 7%;
  }

  .feedback-juris-wrapper .feedback-juris {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.dream-type-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 17%;
  padding-right: 17%;
  margin-bottom: 9.375em;
}
.dream-type-wrapper .dream-type {
  display: flex;
  column-gap: 10%;
}
.dream-type-wrapper .dream-type .dream-type-item {
  text-align: center;
  height: auto;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
}
.dream-type-wrapper .dream-type .dream-type-item .dream-type-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.75em;
}
.dream-type-wrapper .dream-type .dream-type-item button {
  align-self: center;
  margin-top: auto;
}
.dream-type-wrapper .dream-type .dream-type-item h2 {
  margin-bottom: 2em;
}
.dream-type-wrapper .dream-type .dream-type-item p {
  margin-bottom: 2em;
}

@media screen and (max-width: 1024px) {
  .dream-type {
    flex-wrap: wrap;
    row-gap: 12.8125em;
  }
}
.f1-oswald-medium {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #2F4858;
}

.f2-oswald-medium {
  font-family: "Oswald", sans-serif;
  font-size: 1.875rem;
  font-weight: 500;
  color: #2F4858;
}

.f3-oswald-medium {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2F4858;
}

.f-oswald-supporters {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2F4858;
}

.f-oswald-picture-quote {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #FFFFFF;
}

.f-mont-nav {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #000000;
}

.f-mont-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #2F4858;
}

.f-mont-form-input {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #2F4858;
}

.f-mont-tos {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #2F4858;
}

.f-mont-submit {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #FFFFFF;
}

.f-mont-choice-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #FFFFFF;
}

.f-mont-quote-italic {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #2F4858;
  font-style: italic;
}

.f-mont-blue24-normal {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #2F4858;
}

.f-mont-white14 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #FFFFFF;
}

.f-mont-white18 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #FFFFFF;
}

.f-mont-white18-bold {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #FFFFFF;
}

.f-mont-white24 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .f-mont-white14 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 640px) {
  .f-mont-white24 {
    font-size: 1.125rem;
  }

  .f-mont-blue24-normal {
    font-size: 0.875rem;
  }

  .f-mont-white18 {
    font-size: 0.75rem;
  }

  .f-mont-white18-bold {
    font-size: 0.75rem;
  }

  .f-mont-white14 {
    font-size: 0.688rem;
  }

  .f-mont-paragraph {
    font-size: 0.75rem;
  }

  .f-mont-quote-italic {
    font-size: 0.75rem;
  }

  .f-mont-tos {
    font-size: 0.75rem;
  }

  .f-mont-submit {
    font-size: 1.125rem;
  }

  .f1-oswald-medium {
    font-size: 2.25rem;
  }

  .f2-oswald-medium {
    font-size: 1.5rem;
  }

  .f-oswald-picture-quote {
    font-size: 1.125rem;
  }
}

/*# sourceMappingURL=main.css.map */
