.goal-wrapper {
  margin-top: 9.375em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goal-wrapper .goal-grid {
  display: grid;
  row-gap: 7.5em;
  margin-left: 16%;
  margin-right: 16%;
  grid-template-rows: repeat(4, 1fr);
}
.goal-wrapper .goal-grid-row-one {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.goal-wrapper .goal-grid-row-one h2 {
  margin-top: auto;
  margin-bottom: 0;
}
.goal-wrapper .goal-grid-row-two {
  display: grid;
  grid-template-columns: 35% 65%;
  column-gap: 3.875em;
}
.goal-wrapper .goal-grid-row-two .goal-grid-2-row-p {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.37125em;
}
.goal-wrapper .goal-grid-row-two .goal-grid-img-right {
  text-align: right;
}
.goal-wrapper .goal-grid-row-three {
  display: grid;
  grid-template-columns: 65% 35%;
  column-gap: 3.875em;
}
.goal-wrapper .goal-grid-row-three .goal-grid-3-row-p {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.37125em;
}

.mission-wrapper {
  text-align: center;
  margin-top: 9.375em;
  margin-bottom: 9.375em;
  padding-left: 8%;
  padding-right: 8%;
}
.mission-wrapper h2 {
  margin-bottom: 3.125em;
}

.dream-selection-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9.375em;
  margin-bottom: 9.375em;
}
.dream-selection-wrapper h2 {
  margin-bottom: 3.75em;
}
.dream-selection-wrapper .ds-icons-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30%;
  padding-left: 17%;
  padding-right: 17%;
}
.dream-selection-wrapper .ds-icons-wrapper .ds-figure {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1.875em;
}
.dream-selection-wrapper .ds-icons-wrapper .ds-figure p {
  line-height: 1.37125em;
}
.dream-selection-wrapper .ds-icons-wrapper .ds-figure .ds-img-wrapper {
  height: 150px;
  align-items: flex-end;
  display: flex;
  justify-content: center;
}
.dream-selection-wrapper .ds-icons-wrapper .ds-figure .ds-img-wrapper #ds-img-1 {
  width: 154px;
  height: 150px;
}
.dream-selection-wrapper .ds-icons-wrapper .ds-figure .ds-img-wrapper #ds-img-2 {
  width: 191px;
  height: 120px;
}

@media screen and (max-width: 1024px) {
  .dream-selection-wrapper .ds-icons-wrapper {
    column-gap: 25%;
    padding-left: 13%;
    padding-right: 13%;
  }

  .goal-wrapper .goal-grid {
    row-gap: 6.25em;
  }
}
@media screen and (max-width: 640px) {
  .dream-selection-wrapper .ds-icons-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3.75em;
  }

  .goal-wrapper .goal-grid {
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    flex-direction: column;
    row-gap: 3.75em;
  }
  .goal-wrapper .goal-grid .goal-grid-row-two, .goal-wrapper .goal-grid .goal-grid-row-three {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.25em;
  }
  .goal-wrapper .goal-grid .goal-grid-row-three {
    flex-direction: column-reverse;
  }
  .goal-wrapper .goal-grid .goal-grid-2-row-p {
    text-align: center;
  }
  .goal-wrapper .goal-grid .goal-grid-3-row-p {
    text-align: center;
  }
  .goal-wrapper .goal-grid .goal-grid-img-right {
    text-align: center;
  }
  .goal-wrapper .goal-grid figure {
    width: 100%;
    text-align: center;
  }
}

/*# sourceMappingURL=dream-bank.css.map */
