@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald:wght@400;500&display=swap');

$montserrat: 'Montserrat', sans-serif;
$oswald: 'Oswald', sans-serif;

$montserratNav: 1rem;

$heading1_Oswald: 3rem;
$heading2_Oswald: 1.875rem;
$heading3_Oswald: 1.5rem;




