.img-container {
    display: flex;
    flex-wrap: wrap-reverse;
    .img-container-item {
        flex-grow: 1;
        height: auto;
        width: auto;
        overflow: hidden;
    }
    .col-split {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
.grid-border {
    width: 100%;
    position: absolute;
    margin-top: -3%;
}
