@use 'colors';
@use 'fonts';

@media (max-width: 915px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        .toggle-btn {
            display: flex;
        }
        .nav-links {
            display: none;
            width: 100%;
            ul {
                width: 100%;
                flex-direction: column;
                li {
                    text-align: center;
                    padding: 0.9rem;
                    display: flex;
                    justify-content: center;
                }
            }
            .nav-languages {
                display: flex;
                gap: 2em;
                .lang-active {
                    border-bottom: 3px solid colors.$yellowBtn;
                }
            }
           .lv-lang {
               display: none;
           } 
        }
    }
}
@media (max-width: 1669px){
    .nav-border {
        margin-top: -4em;
    }
}
@media (max-width: 1000px){
    .nav-border {
        margin-top: -4em;
    }
    .fter-item-2 {
        display: none;
    }
    .fter-item-3 {
        display: none;
    }
    footer {
        column-gap: 7em;
        flex-wrap: wrap;
    }
}
@media (max-width: 700px){
    .supporters-container {
        margin-bottom: -10%;
    }
}
@media (max-width: 576px){
    .supporters-container {
        margin-bottom: -20%;
    }
    .img-container {
        grid-template-columns: 50% 50% !important;
        grid-template-rows: 50% 50% !important;

        .grid-split {
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .child-4 {
            grid-column-start: 2;
            grid-row-start: 1;
        }
        .child-1 {
            grid-column-start: 1;
            grid-row-start: 2;
        }
        .child-2 {
            grid-column-start: 2;
            grid-row-start: 2;
        }
    }
}
@media (max-width: 840px){
    .nav-border {
        margin-top: -2em;
    }
    .video-wrapper {
        img {
            margin-top: 5em;
        }
        .play-circle {
            margin-top: 3em;
        }
    }
    .img-container {
        flex-wrap: no-wrap;
        .img-container-item {
            flex: 0 0 auto;
        }
    }
}
@media (max-width: 528px){
    form {
        .form-group-one {
            flex-direction: column;
        }
    }
    .supporters-container {
        margin-bottom: -30%;
    }
}
@media (max-width: 412px){
    .nav-border {
        margin-top:-1em;
    }
    
}
