@use '../abstracts/colors';
@use '../abstracts/mixins';

.choice-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 5em;
    column-gap: 20%;
    margin-top: 9.375em;
    margin-bottom: 9.375em;
    padding-left: 13%;
    padding-right: 13%;
    .choice-item {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.9em;
        text-transform: uppercase;
        text-align: center;
    }
}