@use '../abstracts/colors';
@use '../abstracts/mixins';

.form-wrapper {
    ::placeholder {
        color: colors.$bluePane;
    }
    display: flex;
    justify-content: center;
    padding-top: 10em;
    margin-bottom: 9.375em;
    form {
        margin-left: 25%;
        margin-right: 25%;
        input[type="text"], textarea {
            resize: none;
            padding: 0.5em;
            background-color: colors.$form;
            border: 0;
            border-radius: 6px;
            margin: 0.4em;
            &:focus {
                outline: none;
        }
    }
        input[type="text"] {
            height: 43px;
        }
        h2 {
            text-align: center;
            padding-bottom: 1.5em;
            text-transform: uppercase;
        }
        .form-group-one {
            display: flex;
            input {
                flex-grow: 1;
            } 
        }
        .form-group-two {
            display: flex;
            flex-direction: column;
            margin-bottom: 1em;
        }
        .reminder {
            margin-left: 0.4em;
        }
        .checkbox-wrapper {
            display: flex;
            margin-left: 0.4em;
            column-gap: 0.7em;
            input[type="checkbox"] {
                width: 1em;
                height: 1em;
                filter: grayscale(1);
            }
            p {
                flex-basis: 85%;
            }
        }
    }
    .submit-wrapper {
        margin-top: 2em;
        display: flex;
        justify-content: center;
    }
}
@include mixins.mob-large {
    form {
        .form-group-one {
            flex-direction: column;
        }
    }
}
@include mixins.mob-small {
    input[type="text"], textarea {
        width: 15em;
    }
}