@use '../abstracts/colors';
@use '../base/fonts';
@use '../abstracts/mixins';

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: colors.$bluePane;
    padding: 0.5em 3em 0.5em 3em;
    ul {
        list-style-type: none;
        a {
            text-decoration: none;
            &:hover {
                color: colors.$whitePanel;
            }
        }
    }
}
.privacy-policy {
    text-decoration: none;
            &:hover {
                color: colors.$whitePanel;
            }
}
.socials {
    a {
        margin: 4em 0 2em 0.5em;
                font-size: 2.25rem;
                color: colors.$whitePanel;
                &:hover {
                    color: colors.$whitePanel;
           }
    }
}