@use '../abstracts/colors';
@use '../abstracts/mixins';

.header {
    text-align: center;
    padding-top: 6.5em;
    padding-bottom: 6em;
    vertical-align: middle;
    padding-left: 27%;
    padding-right: 27%;
    h1 {
        margin-bottom: 1.3em;
    }
    p {
        line-height: 1.3em;
    }
}

// Media for header
@include mixins.tab {
    .header {
        padding-left: 12%;
        padding-right: 12%;
    }
}