@use '../abstracts/colors';
@use '../base/fonts';
@use '../abstracts/mixins';

// About section
.about-panel {
    text-align: center;
    vertical-align: middle;
    padding: 10% 15% 10% 15%;
    p {
        font-family: fonts.$montserrat;
        font-size: fonts.$montserratAbout;
        font-weight: fonts.$aboutWeight;
        color: colors.$bluePane;
    }
}
.about-border {
    position: absolute;
    width: 100%;
}
// Supporters section
.supporters-border {
    margin-bottom: -2%;
    img {
        background-color: colors.$yellowPane;
        width: 100%;
    }
}
.supporters-container {
    padding-top: 6em;
    padding-bottom: 8em;
    background-color: colors.$yellowPane;
    .supporters-text {
        font-family: fonts.$oswald;
        text-transform: uppercase;
        color: colors.$bluePane;
        font-size: fonts.$heading3_Oswald;
        text-align: center;
    }
}
// Choice panel before contact form
.choice-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 5em;
    column-gap: 12em;
    padding-top: 9em;
    padding-left: 10%;
    padding-right: 10%;
    .choice-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2.6em;
        h3 {
            font-family: fonts.$oswald;
            text-transform: uppercase;
            color: colors.$bluePane;
            font-size: fonts.$heading3_Oswald;
         }
    }
}
@include mixins.mob {
        .supporters-container {
        margin-bottom: -10%;
    }
}
@include mixins.mob-large {
        .supporters-container {
        margin-bottom: -20%;
    }
}
@include mixins.mob-mid {
        .supporters-container {
        margin-bottom: -30%;
    }
}