@use "../abstracts/colors";
@use "../abstracts/mixins";

.stories-grid {
    display: grid;
    grid-template-columns: repeat(6, 10em);
    grid-auto-rows: 10em;
    gap: 14px;
    .story-card {
        min-height: 10em;
        min-width: 10em;
        position: relative;
        span {
          position: absolute;
          right: 15px;
          bottom: -10px;
        }
        .card-inner-text {
            position: absolute;
        }
      }
    .story-card-active {
        cursor: pointer;
    }
    .story-card-inactive {
        background-color: colors.$yellowBtn;
    }
}
