@use '../abstracts/colors';
@use '../abstracts/mixins';

// All form select component vanilla css changes
hr {
    opacity: 0.6;
    width: 100%;
}
.select-placeholder {
    display: none;
}
// Form select component wrapper style
.header-supported-by {
    margin-bottom: 5.625em;
}
.dropdown-search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    label {
        padding-bottom: 0.9375em;
    }
}
.supporter-loc-wrapper {
    margin-bottom: 3.75em;
}
// Locations display section
.supporter-loc-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    table {
        background-color: red;
        width: 100%;
        tr {
            height: 7.5em;
            text-align: center;
            p {
                // display: inline-block;
                margin-bottom: 0;
            }
        }
    }
}
#map {
    height: 40.5em;
}
.popup-content-container {
    background-color: rgba(colors.$yellowPane, 0.4);
}
// Media for supported-by
@include mixins.mob-large {
    .header-supported-by {
        margin-bottom: 5em;
    }
    .dropdown-search-wrapper {
        flex-wrap: wrap;
        row-gap: 2.5em;
    }
}
