@use '../abstracts/colors';
@use '../abstracts/mixins';

// All form select component vanilla css changes
hr {
    opacity: 0.6;
    width: 100%;
}
.select-placeholder {
    display: none;
}
// Form select component wrapper style
.header-supported-by {
    margin-bottom: 5.625em;
}
.dropdown-search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
    label {
        padding-bottom: 0.9375em;
    }
}
// Media for supported-by
@include mixins.mob-large {
    .header-supported-by {
        margin-bottom: 5em;
    }
    .dropdown-search-wrapper {
        flex-wrap: wrap;
        row-gap: 2.5em;
    }
}